@charset "UTF-8";
/*  цвет основного текста #212121 */
/* Вторичный цвет текста  #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3;
 */
/* Вторичный цвет фона #E5E5E5 */
/* Третичный цвет фона #2F303A */
/* Portfolio.html 
Фильтр background: #F5F4FA;*/
body {
  background-color: body main-background;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: body main-text;
  text-align: left;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.visibility {
  visibility: hidden;
  margin: 0;
  font-size: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.button {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.logo {
  margin-right: 50px;
}

.logo__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--header {
  color: #212121;
}

.logo--header .logo__accent {
  color: #2196F3;
}

/* полоска под навигацией   */
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  position: relative;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  bottom: -34px;
  left: 0;
  border-radius: 2px;
}

/* --------------------Стилизация навигации------------------- */
.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

/* Работает, но не нравится */
.nav__list {
  display: flex;
}

.nav__item:nth-child(n+2) {
  margin-left: 50px;
}

.contacts {
  margin-left: auto;
}

.contacts__list {
  display: flex;
}

.contacts__item:nth-child(n+2) {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
  color: #757575;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  color: #2196F3;
}

.contacts--icon {
  fill: currentColor;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.logo--footer .logo__accent {
  color: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-container {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-list .footer-link:hover,
.footer-list .footer-link:focus {
  color: #2196F3;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.address {
  color: #FFFFFF;
}

.footer-wrap {
  display: flex;
}

.footer-item:nth-child(-n+2) {
  margin-bottom: 8px;
}

.footer-title-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 50%;
}

.footer-social-item:nth-child(n+2) {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  height: 44px;
  border-radius: 50%;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196F3;
  outline: none;
}

.footer-socail-icon {
  fill: #FFFFFF;
}

/* Футер-подписка */
.footer-submit-container {
  margin-left: auto;
}

.footer-form-text {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-submit-input-button {
  display: flex;
}

.footer-input-mail {
  background-color: #2F303A;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  min-width: 358px;
}

.footer-input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.footer-submit-icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.hero {
  color: #FFFFFF;
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0px;
}

.feature .section {
  padding-top: 94px;
}

.feature-list {
  display: flex;
  margin: 0;
}

.feature-item:nth-child(n+2) {
  margin-left: 30px;
}

.feature-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.feature-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.feature-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.about-list {
  display: flex;
  margin: 0;
}

.about-item:nth-child(n+2) {
  margin-left: 30px;
}

.about-meta {
  position: relative;
}

.about-after-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.about-label {
  padding: 27px;
  width: 100%;
  background-color: rgba(48, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section.team {
  padding-top: 94px;
}

.team-pretitle {
  margin-bottom: 50px;
}

.team-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team {
  background-color: #E5E5E5;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122), 0px 1px 1px rgba(0, 0, 0, 0.141), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:nth-child(n+2) {
  margin-left: 30px;
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin: 0 0 10px 0;
}

.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 0;
  margin: 0 0 16px 0;
}

.team-picture {
  margin: 0 0 16px 0;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-item:nth-child(n+2) {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-link:hover, .social-link:focus {
  outline: none;
  background-color: #2196F3;
}

.social-box {
  fill: #AFB1B8;
  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social-link:hover .social-box,
.social-link:focus .social-box {
  fill: #FFFFFF;
}

.clients.section {
  padding-top: 94px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:nth-child(n+2) {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-link:hover, .clients-link:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: #AFB1B8;
  transition-property: fill transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196F3;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-btn:hover,
.filter-list .filter-btn:focus {
  outline: none;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.102), 0px 1px 2px rgba(0, 0, 0, 0.078), 0px 2px 2px rgba(0, 0, 0, 0.122);
}

.filter-item:nth-child(n+2) {
  margin-left: 30px;
}

.filter-btn {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-bottom: 50px;
  width: 370px;
}

.portfolio-item:not(:nth-child(3n+1)) {
  margin-left: 30px;
}

.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-meta {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2196F3;
  transform: translateY(100%);
}

.portfolio-link:hover .portfolio-meta,
.portfolio-link:focus .portfolio-meta {
  transform: translateY(-100%);
}

.portfolio-hover-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: block;
  text-decoration: none;
  color: #212121;
}

.portfolio-link:hover, .portfolio-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.122), 0px 4px 4px rgba(0, 0, 0, 0.059), 1px 4px 6px rgba(0, 0, 0, 0.161);
}

.portfolio-img {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  border: 1px solid #EEEEEE;
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
}

.portfolio-text {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  transition-property: background-color opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  transition-property: background-color transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg) translate(-1000px);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}

.modal-close:hover .icon-close-button,
.modal-close:focus .icon-close-button {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-information {
  position: relative;
  margin-bottom: 30px;
}

.modal-name {
  position: absolute;
  top: -18px;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
  /* лейбл выезажет из инпута */
  /*top: 50%;
      left: 30px;
      transform: translateY(-50%);
      text-transform: capitalize;
      transition-duration: 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
      transition-delay: 0ms; 
    */
}

.modal-form-input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
}

.modal-form-input:focus {
  border-color: #2196F3;
}

/* лейбл выезжает из инпута */
/* .modal-form-input:focus + .modal-name {
    top: -18px;
    left: 0;
    transform: translateY(0);
} */
.modal-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-form-feedback {
  position: relative;
  margin-bottom: 20px;
}

.modal-feedback {
  display: inline-block;
  position: absolute;
  top: -18px;
  left: 0;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
  /* лейбл выезжает из инпута */
  /* top: 19px;
    left: 16px;
    transform: translateY(-50%);
    text-transform: capitalize;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-delay: 0ms; */
}

/* .feedback:focus + .modal-feedback {
    top: -18px;
    left: 0;
    transform: translateY(0);
 } */
.feedback {
  padding: 12px 16px;
  width: 448px;
  resize: none;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.feedback:focus {
  border-color: #2196F3;
}

.feedback::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  position: relative;
}

.modal-checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  /* иконка не оч нравится */
  /* position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%); */
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox-input:checked + .modal-checkbox-text .checkbox-item {
  background-color: #2196F3;
  border-color: #2196F3;
}

.checkbox-icon {
  fill: #FFFFFF;
}

.modal-checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: underline;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */