.feature__list { 
    display: flex;
}
  
.feature__item:nth-child(n+2) {
    margin-left: 30px;
}
  
.feature__icon__container { 
    @include centeredFlex();
    flex-direction: column;

    background-color: $background-icon-color;
    border-radius: 4px;
  
    width: 270px;
    height: 120px;
  
    margin-bottom: 30px;
}
  
  
.feature__title { 
    @include font($color:$main-text, $fz:14px, $fw:700, $fh:1.14, $ls:0.03em);

    text-transform: uppercase;
  
    margin: 0 0 10px 0;
}
  
  
.feature__text {
    @include font($color:$second-text, $fz:14px, $fw:400, $fh:1.71, $ls:0.03em);
  
}

.footer__button { 
    text-transform: capitalize;
}