.feature__list { 
    display: flex;
}
  
.feature__item:nth-child(n+2) {
    margin-left: 30px;
}
  
.feature__icon__container { 
    @include centeredFlex();
    flex-direction: column;

    background-color: $background-icon-color;
    border-radius: 4px;
  
    width: 270px;
    height: 120px;
  
    margin-bottom: 30px;
}
  
  
.feature__title { 
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin: 0 0 10px 0;
}
  
  
.feature__text {
    color: $second-text;
    font-size: 14px;
    line-height: 1.71;
  
}