.logo--footer { 
    display: inline-block;
    margin-bottom: 20px;

    color: $third-text;

    & .logo__accent {
        color: $accent;
    }
}


.footer { 
    background-color: $third-background;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__social__container { 
    margin-left: 70px;
    padding-top: 12px;
}

.footer-list {
    .footer-link:hover, 
    .footer-link:focus { 
        color: $accent;
    }
}

.footer-link { 
    color: rgba(255,255,255,0.6) ;
    @include transition();
}



.address { 
    color: $third-text;
}

.footer-wrap {
    display: flex;
}

.footer-item:nth-child(-n+2) {
    margin-bottom: 8px;

}

.footer__title__link { 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $third-text;
    margin-bottom: 16px;
    text-align: center;

}

.footer__social__list { 
    display: flex;
}

.footer__social__item { 
    width: 44px;
    height: 44px;
    background-color: rgba(225,225,225, 0.1);
    border-radius: 50%;

    &:nth-child(n+2) { 
        margin-left: 10px;
    }
}

.footer__social__link { 
    @include centeredFlex();
    @include transition(background-color transform);

    height: 44px;
    border-radius: 50%;

    &:hover ,
    &:focus { 
    background-color: $accent;

    outline: none;
}
}

.footer__socail__icon { 
    fill: $third-text;
}

/* Футер-подписка */

.footer__submit__container { 
    margin-left: auto;

}

.footer__form__text { 
    padding-top: 12px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $third-text;
}

.footer__actions { 
    display: flex;
}

.footer__input__mail { 
    background-color: $third-background;
    color: $third-text;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    min-width: 358px;
    height: 50px;

    &::placeholder { 
        font-size: 16px;
        line-height: 1.25;
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    }
}



.footer__button { 
    @include centeredFlex();
    margin-left: 12px;
}

.footer__submit__icon { 
    margin-left: 10px;
    fill: #FFFFFF;
}
