.footer-logo { 
    display: inline-block;
    margin-bottom: 20px;

    color: $third-text;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

.footer-logo .footer-web {
    color: $accent;
}

.footer.main { 
    background-color: $third-background;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-social-container { 
    margin-left: 70px;
    padding-top: 12px;
}



.footer-list .footer-link { 
    color: rgba(255,255,255,0.6) ;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-delay: 0;
}

.footer-list .footer-link:hover,
.footer-list .footer-link:focus { 
    color: $accent;
}

.container .address { 
    color: $third-text;
}

.container.footer{
    display: flex;
}

.footer-item:nth-child(-n+2) {
    margin-bottom: 8px;

}

.footer-title-link { 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $third-text;
    margin-bottom: 16px;
    text-align: center;

}

.footer-social-list { 
    display: flex;
}

.footer-social-item { 
    width: 44px;
    height: 44px;
    background-color: rgba(225,225,225, 0.1);
    border-radius: 50%;
}
.footer-social-item:nth-child(n+2) { 
    margin-left: 10px;
}


/* Работает но не оч */
.footer-social-link:hover ,
.footer-social-link:focus { 
    background-color: $accent;

    outline: none;
}



.footer-social-link { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer-socail-icon { 
    fill: $third-text;
}

/* Футер-подписка */

.footer-submit-container { 
    margin-left: auto;

}

.footer-form-text { 
    padding-top: 12px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $third-text;
}

.footer-submit-input-button { 
    display: flex;
}

.footer-input-mail { 
    background-color: $third-background;
    color: $third-text;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    min-width: 358px;
}

.footer-input-mail::placeholder { 
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-button-submit { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;

    min-width: 200px;
    height: 50px;

    background-color: $accent;
    color: $third-text;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $accent;

    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    cursor: pointer;
}

.footer-submit-icon { 
    margin-left: 10px;
}

.footer-submit-icon { 
    fill: #FFFFFF;
}