.modal-title  { 
    margin-bottom: 30px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: &main-text;
}
  
.modal-information {
    position: relative;
    margin-bottom: 30px;
}
  
  
.modal-name { 
    position: absolute;
    top: -18px;
    left: 0;
    text-transform: capitalize;
  
    display: inline-block;
    font-size: 12px;
    line-height: 1.15;
  
    letter-spacing: 0.01em;
  
    color: &second-text;
  
    /* лейбл выезажет из инпута */
    /*top: 50%;
      left: 30px;
      transform: translateY(-50%);
      text-transform: capitalize;
      transition-duration: 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
      transition-delay: 0ms; 
    */
}
  
.modal-form-input { 
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    padding-left: 42px;
    padding-right: 15px;
  
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-delay: 0ms;
}
  
  
  /* лейбл выезжает из инпута */
  /* .modal-form-input:focus + .modal-name {
    top: -18px;
    left: 0;
    transform: translateY(0);
  } */
  
.modal-icon { 
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
  
.modal-form-input:focus, .feedback:focus {
    border-color: &accent;
}
  
.modal-form-input:focus + .modal-icon {
    fill: &accent;
}
  
.modal-form-feedback { 
    position: relative;
    margin-bottom: 20px;
}
  
.modal-feedback { 
    position: absolute;
    top: -18px;
    left: 0;
    text-transform: capitalize;
  
    display: inline-block;
    font-size: 12px;
    line-height: 1.15;
  
    letter-spacing: 0.01em;
  
    color: &second-text;
  
    /* лейбл выезжает из инпута */
    /* top: 19px;
    left: 16px;
    transform: translateY(-50%);
    text-transform: capitalize;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-delay: 0ms; */
}
  
  /* .feedback:focus + .modal-feedback {
    top: -18px;
    left: 0;
    transform: translateY(0);
  } */
  
.feedback { 
    padding: 12px 16px;
    width: 448px;
    resize: none;
  
    font-size: 12px;
    line-height: 1.15;
  
    letter-spacing: 0.01em;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}
  
.feedback::placeholder {
  font-size: 12px;
  line-height: 1.15;
  
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}
  
.modal-checkbox { 
    position: relative;
}
  
.modal-checkbox-text { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
  
    color: &second-text;
}
  
.modal-checkbox-input:checked + .modal-checkbox-text .checkbox-item { 
    background-color: &accent;
    border-color: &accent;
}
  
.checkbox-item { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* иконка не оч нравится */
    /* position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%); */
    margin-right: 10px;
  
    width: 16px;
    height: 15px;
  
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
  
    transition-property: background-color , border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
  
  
  
.checkbox-icon {
    fill: #FFFFFF;
}
  
.modal-checkbox-link { 
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
    color: &accent;
    text-decoration: underline;
}
  
.form-button { 
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    text-transform: capitalize;
  
    background-color: &accent;
    color: &third-text;
  
    border: 0;
    border-radius: 4px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}  